<footer class="container">
  <div class="top">
    <section>
      <a href="#" id="logo">
        <div class="small"></div>
        <div class="big"></div>
        <h3>DataWarehouse</h3>
      </a>
      <div class="contact">
        <p class="address">
          Warehouse Society, 234 <br />
          Bahagia Ave Street PRBW 29281
        </p>
        <p class="email-tel">
          <a href="mailto:info@warehouse.project">info&#64;warehouse.project</a>
          <a href="tel:1-232-3434">1-232-3434 (Main)</a>
        </p>
      </div>
    </section>
    <section>
      <h3>About</h3>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">DW News</a></li>
      </ul>
    </section>
    <section>
      <h3>Help</h3>
      <ul>
        <li><a href="#">Support</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Q&A</a></li>
      </ul>
    </section>
    <section>
      <h3>Social Media</h3>
      <div class="socials">
        <a href="#"
          ><img src="assets/facebook.svg" alt="facebook" width="24"
        /></a>
        <a href="#"
          ><img src="assets/twitter.svg" alt="twitter" width="24"
        /></a>
        <a href="#"
          ><img src="assets/instagram.svg" alt="instagram" width="24"
        /></a>
      </div>
    </section>
  </div>
  <div class="bottom">
    <div>
      <p>
        © Datawarehouse™, 2020. All rights reserved. <br />
        Company Registration Number: 21479524.
      </p>
    </div>
    <a href="#" class="chat">
      <img src="assets/chat-processing.svg" alt="chat" width="30" />
    </a>
  </div>
</footer>
